/**
/** Page dossiers
**/

.listeDossiers { margin: 10px 0; border-bottom: #62CFF8; }
.listeDossiers h2 { text-transform: uppercase; font-size: 20px; margin-left: 330px; margin-bottom: 0px; }
.listeDossiers h2 a { color: #000;  }
.listeDossiers .image { position: relative; float: left; border: 1px solid rgb(239, 239, 239); width: 50%; }
.listeDossiers .image:hover a::before { content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.5); -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5); z-index: 1; }
.listeDossiers .image a img { width: 100%; }
.listeDossiers .image .theme_dossier { position: absolute; color: white; background: rgb(239, 100, 23); padding: 3px 6px; text-transform: uppercase; font-size: 18px; z-index: 2; }
.listeDossiers .image .theme_dossier.arbitrage { background: rgb(23, 179, 239); }
.listeDossiers .contenu { font-size: 16px; margin-left: 310px; }
.listeDossiers .contenu a { color: #777; }

.unDossier .contenu { font-size: 13px; }


.commentaires { display: none; border: 1px solid #CCC; }
.commentaires h3 { margin: 0 0 10px 0; color: rgb(241, 87, 106);; }


/**
/** Page staff
**/

#staff .fiche { position: relative; color: #FFF; }
#staff .fiche h3 { background-color: #ef6417; padding: 5px 10px; text-align: right; margin: 0; position: relative; top: 20px; z-index: 0; }
#staff .fiche h3:after { display: inline-block; content: ""; background: url(../images/icon_hr.png) center right no-repeat; background-size: 90px auto; width: 95px; height: 95px; position: absolute; top: 25px; right: 40px; opacity: 0.7; }
#staff .fiche .cell { background-image: linear-gradient(bottom, #626DA7 0%, #282D4D 100%); background-image: -o-linear-gradient(bottom, #626DA7 0%, #282D4D 100%); background-image: -moz-linear-gradient(bottom, #626DA7 0%, #282D4D 100%); background-image: -webkit-linear-gradient(bottom, #626DA7 0%, #282D4D 100%); background-image: -ms-linear-gradient(bottom, #626DA7 0%, #282D4D 100%); background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #626DA7), color-stop(1, #282D4D)); }
#staff .fiche .photo { padding: 6px; text-align: center; }
#staff .fiche .photo img { border: 1px solid #D9DDDF; position: relative; }
#staff .fiche .description a { color: #ef6417; }


/**
/** Page adhesion
**/

#comment_sinscrire { font-size: 13px; }
#comment_sinscrire .sous_titre { font-size: 14px; margin-bottom: 20px; }
#comment_sinscrire ol { padding-left: 25px; }
#comment_sinscrire ol > li { list-style-type: octal; margin-bottom: 10px; }
#comment_sinscrire .nouveaute { background: #EF6417; margin: 10px 0; padding: 10px; border-radius: 10px; }
#comment_sinscrire .nouveaute h4 { color: #FFF; margin: 0; padding: 0 0 10px 25px; }

#tarifs { font-size: 13px; }
#tarifs table { width: 100%; }
#tarifs td, #tarifs th { text-align: center; padding: 5px 0; line-height: 20px; }
#tarifs tr.cell1 td { background: #F3F3F3; }
#tarifs tr.cell2 td { background: none; }

#documents_a_venir img { width: 100%; }
#documents_a_venir table tr td { padding: 20px; text-align: center; }

/**
/** Page Evenements
**/

#content .evenement_jour_nav div { float: left; margin: 10px 5px 20px; }
#content .evenement_jour_nav .bouton_hier { width: 38%; text-align: right; }
#content .evenement_jour_nav .bouton_hier a { background: rgb(247, 247, 247); border: 1px solid rgb(197, 197, 197); -webkit-border-radius: 8px; -khtml-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; padding: 3px 15px; }
#content .evenement_jour_nav .bouton_event { width: 18%; text-align: center; }
#content .evenement_jour_nav .bouton_demain { width: 38%; text-align: left; }
#content .evenement_jour_nav .bouton_demain a { background: rgb(247, 247, 247); border: 1px solid rgb(197, 197, 197); -webkit-border-radius: 8px; -khtml-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; padding: 3px 15px; }

#content .evenement_jour { border-left: 1px solid #bbb; padding-left: 10px; margin-left: 30px; }
#content .evenement_jour .horaire { border: 1px solid #bbb; padding: 5px; float: left; position: relative; top: 8px; left: -32px; width: 30px; text-align: center; background: rgb(235, 235, 235); }
#content .evenement_jour .event_infos { border: 1px solid #bbb; padding: 5px; margin-left: 30px; margin-bottom: 15px; text-align: center;  background: rgb(250, 250, 250); }
#content .evenement_jour .event_infos h4 { margin: 8px 0 12px; font-size: 14px; text-align: left; padding-left: 6px; float: left; }
#content .evenement_jour .event_infos h4 .cercle { width: 15px; height: 15px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; float: left; margin-right: 10px; }
#content .evenement_jour .event_infos h4 .cercle.competition_5_4 { background-color: #7810e2; }
#content .evenement_jour .event_infos h4 .cercle.competition_4_4 { background-color: #ffe21c; }
#content .evenement_jour .event_infos h4 .cercle.competition_4_3 { background-color: #ffc90e; }
#content .evenement_jour .event_infos h4 .cercle.competition_4_2 { background-color: #fff222; }
#content .evenement_jour .event_infos h4 .cercle.competition_3_2 { background-color: #e72828; }
#content .evenement_jour .event_infos h4 .cercle.competition_3_1 { background-color: #e72828; }
#content .evenement_jour .event_infos h4 .cercle.competition_2_3 { background-color: #50d642; }
#content .evenement_jour .event_infos h4 .cercle.competition_1_2 { background-color: rgb(10, 100, 216); }
#content .evenement_jour .event_infos h4 .cercle.competition_1_3 { background-color: #00ccff; }
#content .evenement_jour .event_infos .journee { float: right; margin-right: 10px; font-style: italic; font-size: 13px; }
#content .evenement_jour .event_infos .rencontre { text-transform: uppercase; }
#content .evenement_jour .event_infos .rencontre .eq_dom { width: 45%; float: left; text-align: right; }
#content .evenement_jour .event_infos .rencontre .eq_ext { width: 45%; float: right; text-align: left; }

/**
/** Page Mon profil
**/
.menu_profil { padding: 10px; width: 95%; height: 30px;}
.menu_profil span{ color: #EF6417; text-transform: uppercase; }
.menu_profil .right div { float: left; padding-left: 10px; padding-right: 10px; border-right: 1px solid #CCC; text-align: right;}
.menu_profil .right div:last-child { border-right: none;  padding-right: 0;}
.menu_profil .right div a { width: 32px; height: 32px; float: right; display: block; text-indent: -9999px; overflow: hidden; text-align: left; }
.menu_profil .right div a.update_classement { background: url(../images/icon/black/cup.png) no-repeat top left; }
.menu_profil .right div a.add_news { background: url(../images/icon/black/doc-plus.png) no-repeat top left; }
.menu_profil .right div a.add_match { background: url(../images/icon/black/calendar-plus.png) no-repeat top left; }
.menu_profil .right div a.gest_players { background: url(../images/icon/black/users-group.png) no-repeat top left; }
.menu_profil .right div a.gest_calendar { background: url(../images/icon/black/calendar.png) no-repeat top left; }
.menu_profil .right div a.gest_equipe { background: url(../images/icon/black/circle-info.png) no-repeat top left; }

#content .bloc_profil { clear: left; }
#content .bloc_profil h2 { font-size: 16px; color: white; border: none; padding-bottom: 0px; margin-bottom: 10px; background: rgb(119, 183, 208); padding: 5px; border-radius: 8px; text-transform: uppercase; text-align: center; }
#content .bloc_profil .ligne_profil a { width: 100px; height: 20px; float: left; display: block; overflow: hidden; text-align: center; padding-top: 60px; border: 1px solid #ccc; border-radius: 8px; margin-right: 15px; margin-bottom: 8px; color: black; }
#content .bloc_profil .ligne_profil a:hover { background-color: rgb(119, 183, 208); }
#content .bloc_profil .ligne_profil a.active { background-color: rgb(119, 183, 208); }
#content .bloc_profil .ligne_profil a.infos { background-image: url(../images/icon/png_black/circle-info@2x.png); background-repeat: no-repeat; background-position: 50% 0px; }
#content .bloc_profil .ligne_profil a.calendar { background-image: url(../images/icon/png_black/calendar@2x.png); background-repeat: no-repeat; background-position: 50% 0px; }
#content .bloc_profil .ligne_profil a.players { background-image: url(../images/icon/png_black/users-group@2x.png); background-repeat: no-repeat; background-position: 50% 0px; }
#content .bloc_profil .ligne_profil a.news { background-image: url(../images/icon/png_black/notepad@2x.png); background-repeat: no-repeat; background-position: 50% 0px; }
#content .bloc_profil .ligne_profil a.classement { background-image: url(../images/icon/png_black/cup@2x.png); background-repeat: no-repeat; background-position: 50% 0px; }

#content .contenu_monProfil { margin-top: 120px; }

#update_classement textarea{ width: 415px; height: 240px; }

#add_news > div { width: 100%; }
#add_news > div > label { width: 17%; text-align: right; margin: 5px 10px; font-weight: bold; }
#add_news > div > label:first-child { font-weight: bold; }
#add_news > div > textarea { width: 94%; height: 170px; margin: 5px 10px; }
#add_news > div > input { margin: 5px 10px; }
#add_news > div > input[type="text"] { width: 77%; }

#tab_joueurs { width: 100%; border-collapse: collapse; margin-top: 15px; }
#tab_joueurs tr.odd:hover, #tab_joueurs tr:hover { background: #ddd; }
#tab_joueurs tr.titre:hover{ background: none; }
#tab_joueurs tr.odd{ background: #eee; }
#tab_joueurs tr.inactif td{ color: #aaa; }
#tab_joueurs tr th, #tab_joueurs tr td { line-height: 20px; padding: 5px 0;}
#tab_joueurs tr th { border: none; color: #33E5AA; }
#tab_joueurs tr th a { width: 20px; height: 20px; text-indent: 0px; overflow: hidden; text-align: left; }
#tab_joueurs tr td { height: 26px; padding: 5px; border: 1px solid #ccc; text-align: center;}
#tab_joueurs .cell1 td { background: #F3F3F3; }
#tab_joueurs .cell2 td { background: #none; }
#tab_joueurs div { margin-right: 10px; }
#tab_joueurs div a { width: 20px; height: 20px; float: right; display: block; text-indent: -9999px; overflow: hidden; text-align: left; }
#tab_joueurs div a.add_player { background: url(../images/ajout.png) no-repeat top left; }
.nouveau_joueur { background: #bbb; }

.convocation, .gestion_joueurs { display: none; }

#gallery { float: left; width: 64%; min-height: 12em; } * html #gallery { height: 12em; } /* IE6 */
.gallery.custom-state-active { background: #eee; }
.gallery li { float: left; width: 170px; padding: 0.4em; margin: 0 0.2em 0.2em 0; text-align: center; }
.gallery li h5 { margin: 0 0 0.4em; cursor: move; }
.gallery li a { float: right; }
.gallery li a.ui-icon { float: left; }
.gallery li img { width: 100%; cursor: move; }

#trash { float: right; width: 33%; min-height: 22em; padding: 1%;} * html #trash { height: 18em; } /* IE6 */
#trash h4 { line-height: 16px; margin: 0 0 0.4em; }
#trash h4 .ui-icon { float: left; }
#trash .gallery div { display: none; }
#trash .gallery li { border: none; background: none; padding: 0 0.2em;}
#trash h4 .compteur { float: right; }

.convocation > div > h4 { font-size: 15px; text-align: center; color: rgb(7, 64, 128); }
.infos_match { background: rgb(119, 183, 208); margin-bottom: 15px; padding: 5px; text-align: center; }
.infos_match .infos_rencontre .home { width: 48%; float: left; text-align: right; padding-right: 12px; font-size: 18px; color: aliceblue; }
.infos_match .infos_rencontre .away { width: 48%; float: left; text-align: left; padding-left: 12px; font-size: 18px; color: rgb(33, 30, 166); }
.infos_match .infos_horaire { clear: both; padding-top: 10px; }

#boutons { clear: right; text-align: center; margin-bottom: 20px; }
#boutons input[type=button] { padding: 4px 10px; border-radius: 5px 5px; background-color: #E6E6E6; border: 1px solid lightGrey; cursor: pointer; }

/* La popin */

.ajout_match fieldset { border: 1px solid rgb(197, 209, 255); }
.ajout_match fieldset div { margin-bottom: 5px; }
.ajout_match fieldset legend { color: rgb(45, 87, 175); }
.ajout_match fieldset select, .ajout_match fieldset input { background: rgb(242, 229, 255); border: none; border-radius: 6px; padding: 1px 2px }

.add_joueur fieldset { border: 1px solid rgb(197, 209, 255); }
.add_joueur fieldset div { margin-bottom: 5px; }
.add_joueur fieldset legend { color: rgb(45, 87, 175); }
.add_joueur fieldset select, .add_joueur fieldset input { background: rgb(242, 229, 255); border: none; border-radius: 6px; padding: 1px 2px }

/**
/** Page news
**/
#content .auteur_date { border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; padding: 5px 10px; }
#content .auteur_date  span {  color: #0F64A5;  }

/**
/** Page contact
**/
#content.contact fieldset { margin-top: 20px; border: none; border-left: 3px solid #ef6417; }
#content.contact fieldset p { margin-bottom: 10px; }
#content.contact fieldset p:last-child { margin-bottom: 0px; }


/**
/** Page admin
**/

.picture_file { position: absolute; top: 0; left: -200px; visibility: hidden; }

.col_gau_400 { float: left; margin: 5px 10px; }
.col_dro_400 { margin: 5px 10px 5px 275px; }
.taille28 { width: 28%; }
.taille70 { width: 70%; }
.champ { margin: 5px 0; }

#onglets .select-tabs { overflow: auto; }
#onglets .liste-menus { background-color: #F6F6F6; border-radius: 5px; padding: 5px; min-height: 100px; margin: 20px 0; }
#onglets .liste-menus.invisible {  position: relative; z-index: 5; }
#onglets .liste-menus > div { background-color: #EEE; border-radius: 8px; padding: 5px; border: 1px solid #DDD; margin-bottom: 5px;  }
#onglets .liste-menus.invisible > .masque { background-color: rgba(255,255,255,0.5); border-radius: 5px; padding: 0; width: 100%; height: 100%; position: absolute; top: 0; z-index: 10; border: none; margin: 0; left: 0; }
#onglets .liste-menus > div.ui-state-highlight { height: 100%; line-height:100%; }
#onglets .liste-menus > div > h4 { cursor: move; margin: 0; padding: 5px; height: 20px; }
#onglets .liste-menus > div > h4 > a { text-indent: -3000px; background-position: center center; background-repeat: no-repeat; background-size: 16px; width: 16px; }
#onglets .liste-menus > div > h4 > .arrow-down { background-image: url(../images/icon/png_black/arrow-down.png); }
#onglets .liste-menus > div > h4 > .arrow-up { background-image: url(../images/icon/png_black/arrow-up.png); }
#onglets .liste-menus > div > div { background-color: #F9F9F9; padding: 10px 5px; border-radius: 0px 0px 8px 8px; }
#onglets .liste-menus > p { padding: 5px; }

.liste_entraineurs { margin: 10px 0; display: inline-block; }
.liste_entraineurs span { background-color: #ef6417; color: #FFF; margin-right: 10px; padding: 4px 8px; border-radius: 8px; display: inline-block; }
.liste_entraineurs span > a { margin-left: 5px; color: #FFF; }