/**
/** Page actualites
**/

.listeActus {
    background-color: $blanc2;
    padding: 10px;
    color: $bleu-marine;
    
    .row {
        margin-bottom: 15px;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    h3 {
        .theme_actualite {
            margin-right: 10px;
        }
    }
    a {
        text-decoration: none;
    }
    .image {
        position: relative;
        border: 1px solid rgb(239, 239, 239);
        width: 100%;
        
        a img {
            width: 100%;
        }
    }
    .theme_actualite {
        display: inline-block;
        color: white;
        background: rgb(239, 100, 23);
        padding: 3px 6px;
        text-transform: uppercase;
        font-size: 18px;
        z-index: 2;
        
        &.sportif {
            background: rgb(23, 179, 239);
        }
        &.adminstratif {
            background: rgb(239, 100, 23);
        }
        &.debriefs {
            background: rgb(122, 215, 81);
        }
        &.interviews {
            background: rgb(179, 65, 188);
        }  
        &.divers {
            background: rgb(165, 165, 55);
        }    
    }
    .contenu {
        font-size: 16px;
        padding: 10px 0px !important;

        p {
            margin-bottom: 20px;
        }
        a.voir-plus {
            background-color: $bleu-fonce;
            color: $blanc;
            padding: 5px 10px;
            
            .fa {
                margin-left: 10px;
            }
        }
    }
}
.uneActu { 
    color: $bleu-marine;
    font-size: 16px;
    
    .wrapper {
        padding: 10px;
        
        .auteur_date {
            margin-bottom: 10px;
            font-size: 14px;
            
            a {
                color: $bleu-marine;
            }
        }
        p { 
            margin-bottom: 10px;
            
            &.sous-titre {
                font-weight: bold;
            }
        }
        img { 
            width: 100%;
        }
        .navigation {
            margin: 20px 0;
            
            a {
                display: inline-block;
                text-decoration: none;
                
                .contenu {
                    display: inline-block;
                    
                    &.gauche {
                        .fa {
                            margin-right: 10px;
                        }
                    }
                    &.droite {
                        .fa {
                            margin-left: 10px;
                        }
                    }
                    span {
                        color: $bleu-marine;
                    }
                    h4 {
                        color: $orange2;
                    }
                }
            }
        }
    }
}