/**
/** Page admin
**/

.admin {
    .admin-panel {
        h3 {
            font-size: 16px;
            color: white;
            border: none;
            padding-bottom: 0px;
            margin-bottom: 10px;
            background: rgb(119, 183, 208);
            padding: 5px;
            border-radius: 8px;
            text-transform: uppercase;
            text-align: center;
        }
        .bloc-admin {
            .ligne-admin {
                a {
                    width: 104px;
                    height: 104px;
                    display: inline-block;
                    overflow: hidden;
                    text-align: center;
                    padding-top: 20px;
                    border: 1px solid #ccc;
                    border-radius: 10px;
                    margin-right: 8px;
                    margin-bottom: 8px;
                    color: $noir;
                    text-decoration: none;
                    
                    .fa {
                        display: block;
                        font-size: 48px;
                        padding-bottom: 10px;
                    }
                    &:hover {
                        background-color: rgb(119, 183, 208);
                    }
                }
            }
        }
        .wrapper {
            padding: 10px;

            table {
              tr {
                th, td {
                  vertical-align: middle;
                }
              }
            }
            &.equipes {
              .text-height {
                line-height: 34px;
              }
            }
            &.calendrier {
            }
        }
    }
}
/*
#content .admin-panel .form .cell { padding: 0 5px; }
#content .admin-panel .form .tabAdversaires .liste span { display: inline-block; margin-right: 3px; padding: 3px 6px; background: #1C4EEB; color: #FFF; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
#content .admin-panel .form .tabAdversaires .liste span a { margin-left: 10px; }
#content .admin-panel .form .tabAdversaires .uneEquipe { height: 26px; line-height: 26px; text-transform: uppercase; }
#content .admin-panel .form .tabAdversaires .uneEquipe:nth-child(n+1) { margin-bottom: 5px; }
#content .admin-panel .form .tabAdversaires .uneEquipe input[type=text] { width: 80%; }
#content .admin-panel .form .tabAdversaires .unScore { height: 26px; line-height: 26px; }
#content .admin-panel .form .tabAdversaires .unScore:nth-child(n+1) { margin-bottom: 5px; }
#content .admin-panel .form .tabAdversaires .unScore input[type=text] { width: 15%; }


#filtres { position: absolute; right: 0px; box-sizing: border-box; overflow-y: auto; height: 100%; min-height: 401px; z-index: 2; background-color: white; width: auto; min-width: 220px; border: 1px solid #ccc; padding: 10px; }
#filtres .cell-1-1 { padding-bottom: 5px; }
#filtres .cell-1-1 h4 { cursor: pointer; margin: 0; padding: 0px 0 10px 4px; font-size: 15px; }
#filtres .cell-1-1 h4 .icon { margin-right: 10px; width: 12px; text-align: center; display: inline-block; }

.form .content { background: #EEE; font-size: 14px; border: 1px solid #DDD; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.form .content h4 { margin: 0px; padding: 8px 12px; border-bottom: 1px solid #DDD; background-color: #DDD; }
.form .content select { width: auto; border: none; background: none; }
.form .content textarea { width: 100%; height: 150px; }
.form .content .listeSelect { display: inline-block; }
.form .content .listeSelect input[type=button].select { background: #BBB; border: 1px solid #CCC; margin-right: -5px; padding: 6px 12px; font-size: 12px; box-shadow: initial; cursor: pointer; }
.form .content .listeSelect input[type=button].select.actif { box-shadow: inset #999 3px 3px 6px; background-color: #DDD; cursor: auto; }
.form .content .listeSelect input[type=button].select:first-child { -moz-border-radius: 5px 0 0 5px; -webkit-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; }
.form .content .listeSelect input[type=button].select:last-child { -moz-border-radius: 0 5px 5px 0; -webkit-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0; }
.form .content .date { display: inline-block; line-height: 32px; }
.form .content .tags { position: relative; z-index: 0; }
.form .content .tags > div { margin-bottom: 5px; }
.form .content .tags .tag { margin-right: 3px; padding: 3px 6px; background: #1C4EEB; color: #FFF; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.form .content .tags .tag span { margin-right: 5px; }
.form .content .tags .tag a { position: relative; z-index: 2; color: #FFF; }


#tab_admin .modif-fast .content { text-align: left; }
#tab_admin .modif-fast .content select { width: auto; }
#tab_admin .modif-fast .content textarea { width: 100%; height: 150px; font-size: 13px; }
#tab_admin .modif-fast .content .tags { position: relative; z-index: 0; }
#tab_admin .modif-fast .content .tags > div { margin-bottom: 5px; }
#tab_admin .modif-fast .content .tags .tag { margin-right: 3px; padding: 3px 6px; background: #1C4EEB; color: #FFF; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
#tab_admin .modif-fast .content .tags .tag span { margin-right: 5px; }
#tab_admin .modif-fast .content .tags .tag a { position: relative; z-index: 2; color: #FFF; }
#tab_admin .modif-fast .content .date { line-height: 32px; }
#a_supprimer { background: #EF6417; color: #FFF; }

#content .tab_container .images .uneImage { position: relative; width: 30%; height: 290px; padding: 5px 10px; float: left; }
#content .tab_container .images .uneImage:hover { background: #efefef; }
#content .tab_container .images .uneImage .croix { display: none; position: absolute; top: 5px ; right: 10px; width: 32px; height: 32px; background: url(../images/icon/png_black/circle-remove.png) 0 0 no-repeat white; }
#content .tab_container .images .uneImage .croix:hover { cursor: pointer; }

#content .tab_container .pagination { margin: 15px 0 0; }
#content .tab_container .pagination span { font-weight: bold; }

#content .galerie .albums .liste { margin: 5px 0; }
#content .galerie .albums .liste a { width: 135px; height: 135px; float: left; display: block; overflow: hidden; text-align: center; border: 1px solid #ccc; border-radius: 10px; margin-right: 8px; margin-bottom: 8px; color: black; }
#content .galerie .albums .liste a img { width: 135px; height: 135px; float: left; display: block; overflow: hidden; text-align: center; border: 1px solid #ccc; border-radius: 10px; margin-right: 8px; margin-bottom: 8px; color: black; }
#content .galerie .albums .liste a.nav { background: url(../images/icon/png_black/folder@2x.png) no-repeat 50% 25px transparent; width: 135px; height: 30px; padding-top: 105px; }
#content .galerie .albums .liste a.retour { background: url(../images/icon/png_black/previous@2x.png) no-repeat 50% 25px transparent; }
#content .galerie .albums .liste a.dir_plus { background: url(../images/icon/png_black/folder-open@2x.png) no-repeat 50% 25px transparent; }
#content .galerie .albums .liste a.dir_upload { background: url(../images/icon/png_black/folder-plus@2x.png) no-repeat 50% 25px transparent; }
#content .galerie .albums .liste a.picture_plus { background: url(../images/icon/png_black/picture@2x.png) no-repeat 50% 25px transparent; }
#content .galerie .albums .liste a.picture_upload { background: url(../images/icon/png_black/circle-up2@2x.png) no-repeat 50% 25px transparent; }
#content .galerie .albums .liste a.picture_upload .picture_ajout { 
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border: none;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 5px;
  text-decoration: none;
}
#content .galerie .albums .liste a.picture_upload .picture_ajout:hover { 
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#content .galerie.choix .albums .liste a { width: 80px; height: 69px; float: left; display: block; overflow: hidden; text-align: center; background-position: 50% 5px; background-size: 50%; }
#content .galerie.choix .albums .liste a.nav { height: 45px; padding-top: 45px; }
#content .galerie.choix .albums .liste a img { width: 79px; height: 68px; float: left; display: block; overflow: hidden; text-align: center; border-radius: 10px; margin-right: 8px; margin-bottom: 8px; color: black; }
#content .galerie.choix .albums .liste a div.selection { position: absolute; border: 3px solid green; border-radius: 10px; }
#content .galerie.choix .albums .liste a div.selection img { width: 34px; height: 34px; position: relative; top: 25%; left: 25%; border: none; }
*/