/**
/** Page equipes / entrainements
**/

.liste_equipe, .details_equipe {
    .wrapper {
        padding: 10px;
        
        h3 {
            margin-bottom: 20px;
        }
        .nav-tabs {
            li {
                a {
                    background-color: $bleu-clair;
                    border-bottom: 1px solid #ddd;
                    font-size: 18px;
                    color: $blanc;
                    
                    .fa {
                        margin-right: 10px;
                    }
                }
                &.active {
                    a {
                        background-color: $blanc2;
                        border-bottom: 1px solid transparent;
                        color: $bleu-fonce;
                    }
                }
            }
        }
        .tab-content {
            padding-top: 15px;
        }
        .bloc {
            border-radius: 5px;
            border: 1px solid rgb(187, 187, 187);
            
            h4 {
                padding: 7px;
                margin: 0px;
                text-align: center;
                color: $blanc;
                text-transform: uppercase;
                background: rgb(187, 187, 187);
                
                a {
                    color: $blanc;
                }
                .fa {
                    margin-right: 10px;
                }
            }
            p, li {
                text-align: center;
                padding: 5px 10px;
                font-size: 13px;
                    color: $bleu-fonce;
            }
            p span {
                display: inline-block;
                padding: 5px 10px;
                border-radius: 5px;
                color: $blanc;
            }
            &.sg1 {
                border: 1px solid #99cc00;
                
                h4 {
                    background: #99cc00;
                }
            }
            &.sg2 {
                border: 1px solid #55aa00;

                h4 {
                    background: #55aa00;
                }
            }
            &.sg3 {
                border: 1px solid #008000;
                
                h4 {
                    background: #008000;
                }
            }
            &.sf1 {
                border: 1px solid #ff0000;
                
                h4 {
                    background: #ff0000;
                }
            }
            &.m20g1 {
                border: 1px solid #00ccff;
                
                h4 {
                    background: #00ccff;
                }
            }
            &.m17g1, &.m17g2  {
                border: 1px solid #99ccff;
                
                h4 {
                    background: #99ccff;
                }
            }
            &.m15g1, &.m15g2 {
                border: 1px solid #3366ff;
                
                h4 {
                    background: #3366ff;
                }
            }
            &.m15f1, &.m15f2 {
                border: 1px solid #ff99cc;
                
                h4 {
                    background: #ff99cc;
                }
            }
            &.m13g1, &.m13g2 {
                border: 1px solid #8263FD;
                
                h4 {
                    background: #8263FD;
                }
            }
            &.m13f1, &.m13f2 {
                border: 1px solid #ff6600;
                
                h4 {
                    background: #ff6600;
                }
            }
            &.m11m1, &.m11m2 {
                border: 1px solid #B89365;
                
                h4 {
                    background: #B89365;
                }
            }
            &.m11f1, &.m11f2 {
                border: 1px solid #B89365;
                
                h4 {
                    background: #B89365;
                }
            }
        }        
        .photo_groupe {
            width: 100%;
            padding: 6px;
            border: 1px solid #D9DDDF;
            background: #fff;

            img {
                border: 1px solid #D9DDDF;
            }
        }
        .infos {
            font-size: 13px;
            color: #666;
            
            .bloc {
                border: 1px solid $bleu-clair;
                background-color: rgba($bleu-clair, .5);
                
                h4 {
                    background: $bleu-clair;
                }
                .col-sm-4 {
                    text-align: right;
                    text-transform: uppercase;
                    padding: 8px 15px;
                    color: $bleu-fonce;
                }
                .col-sm-8 {
                    padding: 8px 15px;
                    color: $bleu-fonce;
                    
                    span {
                        display: inline-block;
                        padding: 3px 6px;
                        border-radius: 5px;
                        color: $blanc;
                    }
                } 
            }
        }
        .dernieres_actus, .saison_passee {
            .bloc {
                border: 1px solid $bleu-clair;
                background-color: rgba($bleu-clair, .5);
                
                h4 {
                    background: $bleu-clair;
                }
                ul {
                    padding: 0 10px;
                    list-style: none;

                    li {
                        padding: 4px 0px 5px;
                        margin-bottom: 5px;
                        text-align: left;

                        &:last-child {
                            border-bottom: none;
                        }
                        a {
                            display: inline-block;
                            color: $gris-fonce;
                            height: 23px;
                            line-height: 23px;
                            font-size: 13px;
                            overflow: hidden;
                            -o-text-overflow: ellipsis;
                            text-overflow: ellipsis;
                            word-wrap: break-word;
                            text-decoration: none;

                            &:hover {
                                color: $gris;

                                &.important {
                                    color: darken($rouge, 10%);
                                }
                                .date-info {
                                    background-color: darken($orange, 10%);

                                    &:after {
                                        border-top-color: darken($orange, 10%);
                                        border-left-color: darken($orange, 10%);
                                    }
                                }
                            }
                            &.important {
                                color: $rouge;
                            }
                            .date-info {
                                background-color: $orange;
                                color: $blanc;
                                font-size: 13px;
                                padding: 5px;
                                position: relative;
                                margin-right: 15px;

                                &:after {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    left: 100%;
                                    border-bottom: 0px solid transparent;
                                    border-right: 10px solid transparent;
                                    border-top: 25px solid $orange;
                                    border-left: 0px solid $orange;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .calendrier {
        .row {
            margin-bottom: 10px;
            
            .date {
                color: $blanc;
                text-align: center;

                .jour {
                    background: #AC6E21;
                    font-size: 18px;
                    padding: 2px 5px;
                    @include border-radius(5px 5px 0 0);
                }
                .mois {
                    background: #725807;
                    padding: 2px 5px;
                    @include border-radius(0 0 5px 5px);
                }
            }
            .compet {
                height: 45px;
                color: $blanc;
                font-size: 18px;
                text-align: center;
                position: relative;

                span {
                    position: absolute;
                    top: 50%;
                    @include transform-translate(-50%, -50%);
                }
            }
            .dom, .ext {
                text-align: left;
                text-transform: uppercase;
                line-height: 18px;
                padding-left: 20px;

                &.puce {
                    padding-left: 0px;

                    [class*="cat_"] {
                        width: 15px;
                        height: 15px;
                        display: inline-block;
                        border-radius: 8px;
                        margin-right: 5px;
                        position: relative;
                        top: 3px;
                    }
                }
            }
            .heure {
                height: 45px;
                text-align: center;
                position: relative;

                span {
                    display: inline-block;
                    color: $blanc;
                    background: $violet;
                    padding: 5px;
                    border-radius: 10px;
                    font-size: 14px;
                    position: absolute;
                    top: 50%;
                    @include transform-translate(-50%, -50%);
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

/*
.blocs .bloc .avant_match { text-align: right; }

div.plan_acces { width: 580px; height: 450px; padding: 6px; border: 1px solid #D9DDDF; background: #fff; margin-top: 15px; }
.plan_acces img { border: 1px solid #D9DDDF; }
.new_champ2 { padding: 3px; border-top: 1px solid #D9DDDF; }
/* div.wrapper div:first-child { border-top: 0px; } 
.define2 { width: 55px; color: #EF6417; text-align: right; }
.result2 { margin-left: 55px; padding-left: 10px; }

table .competition div {   padding: 5px; color: #FFF; text-align: center; }

#tab_joueur .ligne_joueur {position: relative; margin: 2px; float: left; width: 47%; border: 1px solid #D9DDDF; padding: 5px;}
#tab_joueur .titre_poste {text-align: left; padding: 5px 5px 0 15px;  background: url(../images/box_bg.jpg) top repeat-x #62CFF8; color: #FFF; border-bottom: 2px solid #5ABDE4; line-height: 24px; font-size: 16px;}
#tab_joueur .maillot {position: absolute; bottom: 2px; right: 2px; width: 50px; }
#tab_joueur .petit_maillot {position: absolute; top: 10px; left: 0; width: 100%; color: white; text-shadow: 1px 1px 1px black; text-align: center; margin-left: -2px; font-size: 16px; }
#tab_joueur .result { margin-left: 110px; padding-left: 10px; color: #666;}

.classement { border-collapse: collapse; width: 100%; }
.classement th{ color: #FFF; background: url(../images/box_bg.jpg) top repeat-x #62CFF8; border-bottom: 2px solid #5ABDE4; padding: 3px; }
.classement td{ text-align: center; height: 22px; }
.classement td strong{ color: #E13333; }
.classement thead th{ text-transform: uppercase; }
.classement .cell2 td { background: #F3F3F3; }
.classement .cell1 td { background: none; }

.unClassement { margin: 20px 0; }

table.stats_equipe { border-collapse: collapse; }
table.stats_equipe tr td, table.stats_equipe tr th { border: 1px solid #ccc; text-align: center; }
table.stats_equipe tr td { font-size: 18px; }

.liste_equipe h3 { clear: left; }
.liste_equipe .equipe { float: left; width: 198px; }
.liste_equipe .cadre { border: 1px solid #CCC; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width: 178px; margin: 5px 0; padding: 5px; }
.liste_equipe .cadre h4 { font-size: 14px; font-weight: bold; margin: 5px 0; }
.liste_equipe .cadre .description { margin: 5px; }
.liste_equipe .cadre .description > strong { color: #5c5895; }
.liste_equipe .cadre .description > span { padding: 2px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; color: rgb(255, 255, 255); }

#tab_equipe .jqplot-target .jqplot-title { font-size: 1.5em; }
#tab_equipe .jqplot-target .jqplot-donut-series { font-size: 2em; color: #000; }

.stats_buts h4 { margin: 10px 0; font-size: 1.5em; }
.stats_buts > div { margin-top: 20px; }
.stats_buts .buts_pour .total_buts_pour { float: left; width: 50%; color: green; font-size: 2.5em; }
.stats_buts .buts_pour strong{ color: green; }
.stats_buts .buts_contre .total_buts_contre { float: left; width: 50%; color: red; font-size: 2.5em; }
.stats_buts .buts_contre strong { color: red; }
.stats_buts .buts_diff_pos .total_buts_diff { float: left; width: 50%; color: green; font-size: 2.5em; }
.stats_buts .buts_diff_neg .total_buts_diff { float: left; width: 50%; color: red; font-size: 2.5em; }
.stats_buts .buts_diff_pos strong { color: green; }
.stats_buts .buts_diff_neg strong { color: red; }
*/