/* Fichier Style CSS */

/* Font-face */
@font-face {
	font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome.eot');
    src: url('../fonts/FontAwesome.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FontAwesome.woff') format('woff'),
         url('../fonts/FontAwesome.ttf') format('truetype'),
         url('../fonts/FontAwesome.svg#PolicePerso') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Balises globales */

body, h1, h2, h3, h4, h5, ul, p, input, select, textarea, button {
	margin: 0;
	padding: 0;
	font-weight: normal;
    outline: none;
}

body {
    background: url(../img/background.png) center 120px no-repeat $bleu;
    font: 12px Trebuchet MS, Arial, Helvetica, sans-serif;
    position: relative;
    margin: 0px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

h2 span { position: absolute; right: 0; bottom: 5px; color: rgb(119, 183, 208); font-size: 20px ; }

img { vertical-align: top; border: none; }

p { margin: 0; }

a{ color: #106AA9; text-decoration: none; outline: none; font-weight: none; }

ol, ul{ list-style: none; margin: 0; padding: 0;}
li { list-style-type: none; display: list-item; }

sup { color: #F00;}

figure { margin: 0px; }

*:focus {
    outline: 0;
}

/* ************************ Liste des classes  **************************** */

.contenu {
  background-color: $blanc2;

  h2 {
    background-color: $bleu-fonce;
    color: $blanc;
    padding: 15px 30px;
    text-transform: uppercase;

    .fa {
        @include border-radius(50%);
        // background-color: $bleu-clair;
        background-color: $orange2;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        margin-right: 15px;
    }
  }
}

.modal {
    .modal-loader {
        position: relative;
        padding: 15px;
        text-align: center;
    }
}

.form-group {
    &.has-error {
        .btn-group {
            .btn-default {
                border-color: #b94a48;
            }
        }
    }
}

.competition_5_4 { background-color: $violet; }
.competition_5_3 { background-color: $violet; }
.competition_4_4 { background-color: $jaune; }
.competition_4_3 { background-color: $orange; }
.competition_4_2 { background-color: $orange2; }
.competition_3_3 { background-color: $rouge; }
.competition_3_2 { background-color: $rouge; }
.competition_3_1 { background-color: $rouge; }
.competition_2_3 { background-color: $vert; }
.competition_1_2 { background-color: $bleu-fonce2; }
.competition_1_3 { background-color: $bleu-clair2; }

.cat_sg1 { background: $vert-clair; }
.cat_sg2 { background: $vert2; }
.cat_sg3 { background: $vert3; }
.cat_sf1 { background: $rouge; }
.cat_m20g1 { background: $bleu-clair3; }
.cat_m18g1 { background: $bleu-clair4; }
.cat_m17g1, .cat_m17g2 { background: $bleu-clair5; }
.cat_m17f1, .cat_m17f2 { background: $fushia; }
.cat_m15g1, .cat_m15g2{ background: #3366ff; }
.cat_m15f1, .cat_m15f2 { background: #ff99cc; }
.cat_m13g1, .cat_m13g2 { background: #8263FD;}
.cat_m13g2.cat_m13g1{ background: #8263FD; }
.cat_m13f1, .cat_m13f2 { background: #ff6600; }
.cat_m11m1, .cat_m11m2{ background: #B89365; }
.cat_m9m1, .cat_m9m2 { background: #DFBA27; }
.cat_bm1{ background: #B49412; }
.cat_lois{ background: #973c00; }
.cat_gard{ background: #c7ac00; }

.right { float: right; }
.left { float: left; }
.clear_b { clear: both; }
.col1, .col2, .col3, .col4, .col0, .cols { float: left; }
.text_right { text-align: right; margin-right: 10px;}
.align_center { text-align: center; }
.align_left { text-align: left; }
.align_right { text-align: right; }
.attention { color: #F00; font-weight: bold; }
.white { color: #FFF; }
.red { color: #F00; }
.green { color: #0F0; }
.bluesmooth { color: rgb(170, 205, 255); }
.vert { background: #27a736; }
.orange { background: #EF6417; }
.rouge { background: #fd1712; }
.violet { background: rgb(151, 21, 168); }
.margin5 { margin: 5px; }
.margin10 { margin: 10px; }
.marginL2 { margin-left: 2px; }
.marginL10 { margin-left: 10px; }
.padding10 { padding: 10px; }
.paddingT10 { padding-top: 10px; }
.marginT { margin-top: 10px; }
.marginR { margin-right: 10px; }
.marginB { margin-bottom: 10px; }
.marginTB10 { margin: 10px 0; }
.marginTB20 { margin: 20px 0; }
.paddingTB10 { padding: 10px 0; }
.radius10 { border-radius: 10px; }

.fond_transparent { display: none; position: fixed; top: 0px; left: 0px; background: white; opacity: 0.8; width: 100%; min-height: 100%; z-index: 100; }
.ico_chargement { position: fixed; top: 50%; left: 50%; z-index: 110; }

/* ************************ Style des checkboxs  **************************** */

/* on cache la case Ã  cocher */  
[type="checkbox"]:not(.checked),  
[type="checkbox"].checked {  
  position: absolute;  
  left: -9999px;  
}  
   
/* on prÃ©pare le label */  
[type="checkbox"]:not(.checked) + label,  
[type="checkbox"].checked + label {  
  position: relative; /* permet de positionner les pseudo-Ã©lÃ©ments */  
  padding-left: 30px; /* fait un peu d'espace pour notre case Ã  venir */  
  cursor: pointer;    /* affiche un curseur adaptÃ© */  
}  

/* Aspect des checkboxes */  
/* :before sert Ã  crÃ©er la case Ã  cocher */  
[type="checkbox"]:not(.checked) + label:before,  
[type="checkbox"].checked + label:before {  
  content: '';  
  position: absolute;  
  left:0; top: 0px;  
  width: 17px; height: 17px; /* dim. de la case */  
  border: 1px solid #aaa;  
  background: #f8f8f8;  
  border-radius: 3px; /* angles arrondis */  
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3) /* lÃ©gÃ¨re ombre interne */  
}  
   
/* Aspect gÃ©nÃ©ral de la coche */  
[type="checkbox"]:not(.checked) + label:after,  
[type="checkbox"].checked + label:after {  
  content: 'x'; 
  position: absolute;  
  top: -10px; left: 2px;  
  font-size: 24px; 
  font-family: Papyrus, fantasy; 
  color: #000;  
  transition: all .2s; /* on prÃ©voit une animation */  
}  
/* Aspect si "pas cochÃ©e" */  
[type="checkbox"]:not(.checked) + label:after {  
  opacity: 0; /* coche invisible */  
  transform: scale(0); /* mise Ã  l'Ã©chelle Ã  0 */  
}  
/* Aspect si "cochÃ©e" */  
[type="checkbox"].checked + label:after {  
  opacity: 1; /* coche opaque */  
  transform: scale(1); /* mise Ã  l'Ã©chelle 1:1 */  
}

/* aspect dÃ©sactivÃ©e */  
[type="checkbox"]:disabled:not(.checked) + label:before,  
[type="checkbox"]:disabled.checked + label:before {  
  box-shadow: none;  
  border-color: #bbb;  
  background-color: #ddd;  
}  
/* styles de la coche (si cochÃ©e/dÃ©sactivÃ©e) */  
[type="checkbox"]:disabled.checked + label:after {  
  color: #999;  
}  
/* on style aussi le label quand dÃ©sactivÃ© */  
[type="checkbox"]:disabled + label {  
  color: #aaa;  
}  
   
/* aspect au focus de l'Ã©lÃ©ment */  
[type="checkbox"].checked:focus + label:before,  
[type="checkbox"]:not(.checked):focus + label:before {  
  border: 1px dotted blue;  
}