.modules {
    .wrapper {
        position: relative;
        background-color: $blanc;
        min-height: 200px;
        margin-bottom: 30px;

        &.plus {
            padding-bottom: 45px;
        }
        h3 {
            background-color: $bleu-fonce;
            color: $blanc;
            padding: 15px 30px;
            text-transform: uppercase;

            .fa {
                @include border-radius(50%);
                // background-color: $bleu-clair;
                background-color: $orange2;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                margin-right: 15px;
            }
        }
        .contenu {
            padding: 30px;
            font-size: 13px;

            &.tableau-bord {
                color: $gris;

                .row {
                    margin-bottom: 10px;
                    
                    .date {
                        color: $blanc;
                        text-align: center;

                        .jour {
                            background: #AC6E21;
                            font-size: 18px;
                            padding: 2px 5px;
                            @include border-radius(5px 5px 0 0);
                        }
                        .mois {
                            background: #725807;
                            padding: 2px 5px;
                            @include border-radius(0 0 5px 5px);
                        }
                    }
                    .compet {
                        height: 45px;
                        color: $blanc;
                        font-size: 18px;
                        text-align: center;
                        position: relative;

                        span {
                            position: absolute;
                            top: 50%;
                            @include transform-translate(-50%, -50%);
                        }
                    }
                    .dom, .ext {
                        text-align: left;
                        text-transform: uppercase;
                        line-height: 18px;
                        padding-left: 20px;

                        &.puce {
                            padding-left: 0px;

                            [class*="cat_"] {
                                width: 15px;
                                height: 15px;
                                display: inline-block;
                                border-radius: 8px;
                                margin-right: 5px;
                                position: relative;
                                top: 3px;
                            }
                        }
                    }
                    .heure {
                        height: 45px;
                        text-align: center;
                        position: relative;

                        span {
                            display: inline-block;
                            color: $blanc;
                            background: $violet;
                            padding: 5px;
                            border-radius: 10px;
                            font-size: 14px;
                            position: absolute;
                            top: 50%;
                            @include transform-translate(-50%, -50%);
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            &.infos {
                ul {
                    margin-top: -4px;
                    margin-bottom: -4px;
                    list-style: none;

                    li {
                        padding: 4px 0 5px;
                        margin-bottom: 5px;
                        overflow: hidden;
                        -o-text-overflow: ellipsis;
                        text-overflow: ellipsis;

                        &:last-child {
                            border-bottom: none;
                        }
                        a {
                            color: $gris;
                            line-height: 23px;
                            font-size: 13px;
                            font-weight: bold;

                            &:hover {
                                color: $gris-fonce;
                                text-decoration: none;

                                &.important {
                                    color: darken($rouge, 10%);
                                }
                                .date-info {
                                    background-color: darken($orange, 10%);

                                    &:after {
                                        border-top-color: darken($orange, 10%);
                                        border-left-color: darken($orange, 10%);
                                    }
                                }
                            }
                            &.important {
                                color: $rouge;
                            }
                            .date-info {
                                background-color: $orange;
                                color: $blanc;
                                font-size: 13px;
                                padding: 5px;
                                position: relative;
                                margin-right: 15px;

                                &:after {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    left: 100%;
                                    border-bottom: 0px solid transparent;
                                    border-right: 10px solid transparent;
                                    border-top: 25px solid $orange;
                                    border-left: 0px solid $orange;
                                }
                            }
                        }
                    }
                }
            }
        }
        nav {
            position: absolute;
            bottom: 0;
            background-color: $bleu-clair;
            width: 100%;

            a {
                display: inline-block;
                color: $blanc;
                text-decoration: none;
                padding: 15px 30px;
                width: 100%;
                text-transform: uppercase;
                text-align: right;

                .fa {
                    margin-left: 10px;
                }
            }
        }
    }
}