
/**
/** Page saison
**/
.resultats_classements {
    .contenu {
        .wrapper {
            padding: 30px;
            margin-bottom: 30px;

            .legende {
                background-color: $bleu-clair;
                color: $blanc;
                -webkit-border-radius: 10px;
                -khtml-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                padding: 10px;
                text-align: center;
                margin-bottom: 10px;
                line-height: 20px;

                .fa {
                    margin-right: 10px;
                    font-size: 20px;
                }
            }
            .liste-matchs {
                .row {
                    margin-bottom: 10px;
                    
                    .date {
                        color: $blanc;
                        text-align: center;

                        .jour {
                            background: #AC6E21;
                            font-size: 18px;
                            padding: 2px 5px;
                            @include border-radius(5px 5px 0 0);
                        }
                        .mois {
                            background: #725807;
                            padding: 2px 5px;
                            @include border-radius(0 0 5px 5px);
                        }
                    }
                    .compet {
                        height: 45px;
                        color: $blanc;
                        font-size: 14px;
                        text-align: center;
                        position: relative;

                        span {
                            position: absolute;
                            top: 50%;
                            @include transform-translate(-50%, -50%);
                        }
                    }
                    .dom, .ext {
                        text-align: left;
                        text-transform: uppercase;
                        line-height: 18px;
                        padding-left: 20px;

                        &.puce {
                            padding-left: 0px;

                            [class*="cat_"] {
                                width: 15px;
                                height: 15px;
                                display: inline-block;
                                border-radius: 8px;
                                margin-right: 5px;
                                position: relative;
                                top: 3px;
                            }
                        }
                    }
                    .heure {
                        height: 45px;
                        text-align: center;
                        position: relative;

                        span {
                            display: inline-block;
                            color: $blanc;
                            background: $violet;
                            padding: 5px;
                            border-radius: 10px;
                            font-size: 14px;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            @include transform-translate(0%, -50%);
                        }
                    }
                    .scores {
                        display: inline-block;
                        vertical-align: top;
                        position: relative;
                        height: 45px;
                        width: 100%;
                        text-align: center;

                        span {
                            font-size: 15px;
                            padding: 5px 10px;
                            border-radius: 8px;
                            color: $blanc;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            @include transform-translate(0%, -50%);
                        }
                    }
                    a.info {
                        display: inline-block;
                        vertical-align: top;
                        position: relative;
                        height: 45px;
                        text-align: center;

                        span {
                            font-size: 20px;
                            color: $orange2;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            @include transform-translate(0%, -50%);
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .periods  {
                min-height: 625px;
                
                .year {
                    font-size: 48px;
                    color: #EF6417;
                    float: right;
                    
                    li {
                        float: left; 
                        display: block; 
                        padding-right: 10px;
                        
                        a {
                            text-decoration: none;
                        }
                    }
                }
                .months { 
                    float: left; 
                    margin-left: 15px; 
                    
                    li { 
                        font-size: 24px; 
                        float: left;
                        display: block; 
                        padding-right: 10px;
                        
                        a {
                            text-decoration: none;
                        }
                        &:hover {
                            color: #EF6417;
                        }
                    }
                }
                .active {
                    color: #EF6417;
                }
                .month  {
                    margin-top: 20px;
                }
                table { 
                    width: 100%;
                    border-collapse: collapse; 
                    
                    td { 
                        width: 80px;
                        height: 80px; 
                        border: 1px solid #D9DDDF;
                        
                        &.week_end {
                            background: #eae7d4;
                        }
                        &.vacances .day { 
                            color: #F00; 
                        }
                        &.today { 
                            border: 2px solid #EF6417;
                        }
                        &:hover { 
                            background: rgb(200, 230, 230);
                        }
                        td[colspan] {
                            border: none; 
                            
                            &:hover { 
                                background: none;
                            }
                        }
                        .day{ 
                            position: absolute; 
                            color: #8C8C8C;
                            bottom: -40px; 
                            right: 5px;
                            font-weight: bold;
                            font-size: 24.3pt;
                        }
                        .daylight { 
                            display: none; 
                        }
                        .events {
                            position: relative;
                            height: 0px; 
                            margin: -39px 1px 0px; 
                            padding: 0px;
                            width: 100%;
                            
                            span {
                                color: $blanc;
                                text-align: center;
                                display: inline-block;
                                width: 100%;
                                cursor: pointer;
                            }
                            .matchs { 
                                background: #3c763d;
                            }
                            .extra { 
                                background: rgb(200, 120, 200);
                            }
                        }
                        .laDate {
                            display: none;
                        }
                    }
                }
                .relative  { 
                    position: relative;
                }
            }
        }
    }
}
#export_cal { cursor: pointer; }