/**
/** Page saison
**/

#tab_result { width: 100%; border-collapse: collapse; }
#tab_result tr th, #tab_result tr td { line-height: 20px; padding: 5px 0;}
#tab_result tr th { background: url(../images/box_bg.jpg) top repeat-x #62CFF8; color: #FFF; border-bottom: 2px solid #5ABDE4; }
#tab_result tr td { border-bottom: 1px solid #D9DDDF; text-align: center;}
#tab_result .cell1 td { background: #F3F3F3; }
#tab_result .cell2 td { background: none; }
#tab_result .competition { width: 25%; text-align: left; }
#tab_result .competition div{ padding-left: 10px; }
#tab_result .puce { padding-left: 20px; text-align: left; }
#tab_result .score-team2 span { padding: 0px 5px; border-radius: 8px; color: white; }
#tab_result .date  { width: 75px; color: white; padding: 5px 0; font-size: 14px; }
#tab_result .date .jour { background: #AC6E21; font-size: 18px; width: 25px; margin: 0 25px; padding: 2px 5px; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; }
#tab_result .date .mois { background: #725807; width: 25px; margin: 0 25px; padding: 2px 5px; -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }

.resultats_classement table tr td.categ { width: 50px; }
.resultats_classement table tr td.categ .td0 { width: 100%; }
.resultats_classement table tr td.categ .td0 span { transform: none; -webkit-transform: none; -moz-transform: none; position: relative; top: 7px; color: white; }

.periods  { min-height: 625px; width: 95%; margin: auto; }
.year { font-size: 48px; color: #EF6417; float: right; }
.year li { float: left; display: block; padding-right: 10px; }
.months { float: left; margin-left: 15px; }
.months li { font-size: 24px; float: left; display: block; padding-right: 10px;}
.periods .active { color: #EF6417; }
.months li a:hover { color: #EF6417; }
.month  { margin-top: 20px; }
.periods table { width: 100%; border-collapse: collapse; }
.periods td { width: 80px; height: 80px; border: 1px solid #D9DDDF; }
.periods td.week_end { background: #eae7d4; }
.periods td.vacances .day{ color: #F00; }
.periods td.today { border: 2px solid #EF6417; }
.periods td:hover { background: rgb(200, 230, 230);}
.periods td[colspan] { border: none; }
.periods td[colspan]:hover { background: none; }
.relative  { position: relative; }
table td .day{ position: absolute; color: #8C8C8C; bottom: -40px; right: 5px; font-weight: bold; font-size: 24.3pt;}
table td .daylight { display: none; }
table td .events {position: relative; width: 79px; height: 0px; margin: -39px 1px 0px; padding: 0px;}
table td .laDate {display: none;}
table td .events span { color: #FFF;  text-align: center; display: block; cursor: pointer; }
table td .events .matchs { background: rgb(110, 235, 110); }
table td .events .extra { background: rgb(200, 120, 200); }

.resultats_classement .legende { background: url(../images/icon/png_black/comment-exclamation.png) 100% 50% no-repeat rgb(255, 239, 221); -webkit-border-radius: 10px; -khtml-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; padding: 10px; text-align: center; }

#export_cal { cursor: pointer; }