/******* Liste des variables SCSS ********/

$blanc: #ffffff;

$gris-clair: #eaeaeb;
$gris: #627178;
$gris-fonce: #42464d;

$noir: #000000;

$marron: #8a7a68;

$orange: #FF970E;
$orange2: #E05912;

$jaune: #ffe21c;

$bleu: #4b587d;
$bleu-clair: #626DA7;
$bleu-clair2: #0085A6;
$bleu-fonce: #282D4D;
$bleu-fonce2: #003C89;
$bleu-marine: #04365C;

$vert: #307129;

$rouge: #e72828;

$violet: #7810e2;