/******* Liste des variables SCSS ********/

$blanc: #ffffff;
$blanc2: #f0f0f0;

$gris-clair: #eaeaeb;
$gris-clair2: #ccc;
$gris: #627178;
$gris-fonce: #42464d;

$noir: #000000;

$marron: #8a7a68;

$orange: #FF970E;
$orange2: #E05912;
$orange3: #ef6417;
$orange-clair: #f7b048;

$jaune: #ffe21c;

$bleu: #4b587d;
$bleu-clair: #626DA7;
$bleu-clair2: #0085A6;
$bleu-clair3: #00ccff;
$bleu-clair4: #99ccff;
$bleu-clair5: #33ccff;
$bleu-fonce: #282D4D;
$bleu-fonce2: #003C89;
$bleu-marine: #04365C;

$vert: #307129;
$vert2: #55aa00;
$vert3: #008000;
$vert-clair: #99cc00;

$rouge: #e72828;
$rouge2: #e75040;

$rose: #f94275;

$violet: #7810e2;
$fushia: #ff00ff;
